import secrets
import time

failed_attempts = 0

def generate_binary_otp(length):
    return ''.join(secrets.choice(['0','1']) for _ in range(length))

def calculate_risk():
    global failed_attempts
    if failed_attempts == 0:
        return 6
    elif failed_attempts <= 2:
        return 8
    else:
        return 10

print("\n🔐 Secure Login System\n")

username = input("Enter Username : ").strip()

if len(username) > 40:
    print("Username must be under 40 characters")
    exit()

password = input("Enter Password : ").strip()

if len(password) > 10:
    print("Password must be under 10 characters")
    exit()

otp_length = calculate_risk()
otp = generate_binary_otp(otp_length)

print("\nGenerated OTP:", otp)

start = time.time()
expiry = 30

user_otp = input("Enter OTP: ").strip()

if time.time() - start > expiry:
    print("OTP Expired")
elif user_otp == otp:
    print("Login Successful")
else:
    failed_attempts += 1
    print("Wrong OTP")
